footer {
  padding: 20px 0;

  .footer-inner {
    padding-top: 10px;
    display: flex;
    justify-content: left;
    gap: 60px;

    @media screen and (max-width: 600px) {
      justify-content: space-between;
      gap: 20px;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
    .footer-item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
          transition: .3s;
          width: 20px;
          height: 20px;
          fill: var(--gray);
        }

        &:hover svg {
          fill: var(--blue);
        }
      }
    }
  }
  .footer-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 10px;
    }
    a {
      transition: .3s;
      color: var(--blue);

      &:hover {
        color: var(--yellow);
      }
    }
  }
}